body {
    background-color: #e0e0e0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    padding: 5%;
    gap: 60px;
}

.sidebar {
    width: 300px;
    position: sticky;
    top: 50px;
}

.profile-pic {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

h1 {
    color: #557c99;
    font-weight: 600;
}

.pronouns {
    font-size: 0.8em;
    font-weight: 400;
}

.bio {
    color: #557c99;
    margin-top: 10px;
}

.socials {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.icon {
    height: 40px;
    width: 40px;
    transition: transform 0.2s;
}

.icon:hover {
    transform: scale(1.2);
}

.github {
    filter: invert(5%) sepia(8%) saturate(253%) hue-rotate(314deg) brightness(96%) contrast(91%);
}

.bluesky {
    filter: invert(36%) sepia(80%) saturate(2354%) hue-rotate(193deg) brightness(101%) contrast(103%);
}

.main-content {
    flex-grow: 1;
    border-left: 3px solid #557c99;
    padding-left: 40px;
    min-height: 500px;
}
